{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="{% url 'about' %}">ABOUT</a></li> 
                <li><a href="{% url 'vehicles' %}">VEHICLES</a></li>
                <li><a href="{% url 'booking' %}">BOOKING</a></li>
                <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
            </ul>
        </div>
        <div class="nav-center">
            <ul>
                <li><a href="{% url 'homepage' %}">bonrides</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                {% if user.is_authenticated %}
                    <li class = "greeting">Hello, {{user}}</li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'register' %}">SIGN UP</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

</body>
</html>
